th.k-header.active .k-grid-column-menu {
    color: #fff;
    background-color: #ff6358;
}

.k-grid-pager {
    border-width: 1px 0 0;
    border-color: inherit;
    font-size: inherit;
    justify-content: center;
}
